.gambo {
    width: 100px;
    height: 100px;
}

footer{
    background-color: #302d2d ;
    color: #ffffff;
    margin-top: 140px;
}

table>thead {
    background-color: black;
    color: #ffffff;
}

